<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.sunapp" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/sun2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SignUpPage"
            android:label="Sign Up" >
        </activity>
        <activity android:name=".view.FindFriendsPage">

        </activity>
        <activity
            android:name=".view.ProfilePage"
            android:label="Profile" >
        </activity>
        <activity
            android:name=".view.MyEventsPage"
            android:label="My Events" >
        </activity>
        <activity
            android:name=".view.InterestsPage"
            android:label="Interests" >
        </activity>
        <activity
            android:name=".view.JoinedEventsPage"
            android:label="Joined Events" >
        </activity>
        <activity
            android:name=".view.FutureEventsPage"
            android:label="Future Events" >
        </activity>
        <activity
            android:name=".view.ContactInfoPage"
            android:label="Contact Information" >
        </activity>
        <activity
            android:name=".view.MainPage"
            android:label="Main Page" >
        </activity>
        <activity
            android:name=".FindFriendsPage"
            android:label="Find Friends" >
        </activity>
    </application>

</manifest>
